:host h3 {
    margin: 0;
    padding: 80px;
    font-size: 48px;
    line-height: 120%;
    font-style: normal;
    font-weight: 300;
    /* identical to box height, or 58px */
    text-align: center;
    letter-spacing: 0.2px;
}

:host img {
    padding: 12px;
}

:host a {
    color: black;
    text-decoration: none;
}

:host .post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

:host .read-more {
    padding: 60px;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    /* primary */
    color: #6527d9;
    border-radius: 2px;
    font-weight: 300;
}

:host .cursor {
    cursor: pointer;
    padding-right: 8px;
}

:host .card {
    /* padding: 6px; */
    border: none;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
}

:host .card-body {
    padding-bottom: 5px;
}

:host .card-text {
    height: 111px;
    padding: 0 20px;
}

:host .col {
    width: 33%;
    flex: none;
    padding-bottom: 12px;
}

@media (max-width: 1100px) {
    :host .card-text {
        font-size: 16px;
        height: 113px;
        overflow: hidden;
    }
}

@media (max-width: 800px) {
    :host img {
        padding: 8px;
    }

    :host .col {
        width: 50%;
        padding-bottom: 12px;
    }
}

@media (max-width: 500px) {
    :host h3 {
        padding: 32px 20px;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.2px;
    }

    :host .row {
        display: block;
    }

    :host .col {
        width: 100%;
        padding-bottom: 12px;
    }

    :host .card-text {
        height: 80px;
        padding: 0 20px;
        font-size: 18px;
        line-height: 120%;
    }
}
