section {
    background: #6527d9;
    border-radius: 12px;
    color: white;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 120%;
    /* or 46px */
    position: relative;
    letter-spacing: 0.8px;
}

p {
    max-width: 824px;
    height: 350px;
    overflow: hidden;
}

.remove-hide{
    overflow: visible;
}

.svg-wrapper {
    position: absolute;
    right: 5%;
    top: 20%;
}

.wrapper-text {
    padding: 80px;
    margin-top: 180px;
}

.after {
    margin-bottom: 180px;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    letter-spacing: 0.2px;
}

.email {
    opacity: 0.8;
}

.wrapper {
    display: flex;
    justify-content: left;
}

.carousel-control-next {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    position: relative;
    background: #8c67dd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 0px 0px #e6e6e6, 0px 1px 5px rgba(99, 114, 130, 0.15);
    border-radius: 32px;
}

.carousel-control-prev {
    width: 48px;
    height: 48px;
    position: relative;
    background: #8c67dd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 0px 0px #e6e6e6, 0px 1px 5px rgba(99, 114, 130, 0.15);
    border-radius: 32px;
}

.carousel-control-prev-icon {
    opacity: 0.3;
}

.carusel-controls-item {
    display: flex;
    color: white;
    position: absolute;
    right: 10%;
    bottom: 20%;
}


@media (max-width: 1363px) {
    .wrapper-text {
        width: 824px;
        padding: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        /* or 46px */
        letter-spacing: 0.8px;
    }

    svg {
        width: 288px;
        height: 288px;
    }
}

@media (max-width: 1140px) {
    .wrapper-text {
        width: 724px;
        padding: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        /* or 46px */
        letter-spacing: 0.8px;
    }

    svg {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1000px) {
    .wrapper-text {
        width: 524px;
        padding: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        /* or 46px */
        letter-spacing: 0.8px;
    }

    svg {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 799px) {
    .wrapper-text {
        margin-top: 45px;
        width: 724px;
        padding: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 100%;
        /* or 46px */
        letter-spacing: 0.8px;
    }

    .after {
        margin-bottom: 100px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        letter-spacing: 0.2px;
    }
    svg {
        display: none;
    }
}

@media (max-width: 500px) {
    .wrapper-text {
        margin-top: 0;
        padding: 15px;
        width: 400px;
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper-text p {
        height: 351px;
    }

    .wrapper {
        justify-content: center;
    }

    .svg-wrapper {
        display: none;
    }

    .after {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
    }

    .decor {
        display: none;
    }

    .carusel-controls-item {
        position: static;
        padding-left: 10%;
        padding-bottom: 16px;
    }
}

@media (max-width: 320px) {
    .wrapper-text {
        margin-top: 0;
        padding: 15px 0;
        width: 264px;
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper-text p {
        height: 351px;
    }

    .wrapper {
        justify-content: center;
    }

    .svg-wrapper {
        display: none;
    }

    .after {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
    }

    .decor {
        display: none;
    }

    .carusel-controls-item {
        position: static;
        padding-left: 16px;
        padding-bottom: 16px;
    }
}
