/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: "Proxima Nova";
    src: url("assets/static/font/ProximaNova-Regular.woff2");
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/static/font/ProximaNova-Semibold.woff2");
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("assets/static/font/ProximaNova-Light.woff2");
    font-style: normal; 
    font-weight: normal;
}

body {
    font-family: Proxima Nova;
    background: #F7F7F8;
}